<li id="mnu_application_li"> <a href="#" class="waves-effect"><i class="fa fa-book fa-fw"></i>
    <span class="hide-menu">Bookings Receipt<span class="fa arrow"></span></span>
    </a>
    <ul class="nav nav-second-level">
      <li id="mnu_payment_partial_li"> <a href="{%url 'order_receipt:list-hourly-order' %}" target="_blank">
        <span class="hide-menu"> <i data-icon="" class="linea-icon linea-basic"></i> Hourly</span>
        </a>
      </li>
      <!-- <li id="mnu_payment_partial_li"> <a href="{%url 'order_receipt:list-monthly-order' %}" target="_blank">
          <span class="hide-menu"> <i class="fa fa-calendar fa-fw"></i> Monthly</span>
          </a>
        </li>
      <li id="mnu_payment_partial_li"> 
        <a href="{% url 'order_receipt:list-mpackage-order' %}"  target="_blank">
          <span class="hide-menu"> <i data-icon="P" class="linea-icon linea-ecommerce"></i> Meeting Package</span>
        </a>
      </li> -->
    </ul>
</li>