<li id="mnu_finance_report_li"> <a href="#" class="waves-effect"><i class="icon-book-open"></i>
    <span class="hide-menu m-l-5"> Report<span class="fa arrow"></span></span>
    </a>
    <ul class="nav nav-second-level">
      <li id="mnu_gen_ar_ap_li"> <a href="{% url 'finance:generate_finance_ar_ap' %}" target="_blank">
        <span class="hide-menu"> Generate AR-AP</span>
        </a>
      </li>
      <li id="mnu_list_ar_ap_li"> <a href="{% url 'finance:list_finance_ar_ap' %}" target="_blank">
        <span class="hide-menu"> List Report AR-AP</span>
        </a>
      </li>
    </ul>
</li>