
<li id="mnu_application_li"> <a href="#" class="waves-effect"><i class="icon-rocket"></i>
    <span class="hide-menu">&nbsp; Host Data<span class="fa arrow"></span></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="host_mnu_01">
            <a href="{% url 'crm-brand:holding-list' %}" >
            <span class="hide-menu"> Brand Holding</span>
            </a>
        </li>
        <li id="host_mnu_02">
            <a href="{% url 'crm-brand:list' %}" >
            <span class="hide-menu"> Brand </span>
            </a>
        </li>
        <li id="host_mnu_03">
            <a href="{% url 'crm-branch:list' %}" >
            <span class="hide-menu"> Merchant </span>
            </a>
        </li>
        <li id="host_mnu_04">
            <a href="{% url 'crm-space:list' %}" >
            <span class="hide-menu"> Space / Room </span>
            </a>
        </li>
    </ul>
</li>



