
<li id="mnu_application_li"> <a href="#" class="waves-effect"><i class="icon-puzzle"></i>
    <span class="hide-menu">&nbsp; Master Data<span class="fa arrow"></span></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="obj_mnu_01">
            <a href="{% url 'crm-buildings:list' %}" >
            <span class="hide-menu"> Building</span>
            </a>
        </li>
        <li id="obj_mnu_01">
            <a href="{% url 'crm-company:list' %}" >
            <span class="hide-menu"> Company</span>
            </a>
        </li>
    </ul>
</li>



